@using Microsoft.AspNet.Identity
@using IslandEscape.Controllers

@{
    ViewBag.Title = "Island Escape";
    string user_id = User.Identity.GetUserId();
    string user_name = User.Identity.GetUserName();
    string config = ConfigurationsController.GetConfigurationURLPart(user_id);
}

<div style="padding-bottom:280px;background-image:url(../Images/island_escape.png);background-repeat:no-repeat; background-position: right;">
    

    @if (Request.IsAuthenticated)
    {
        <nav style="text-align:left;">
            <h3 style="margin-top:30px;"><a href="@string.Format("../Game/game.html?userid={0}&username={1}{2}", user_id, user_name, config)">Start New Game</a></h3>
            <h3>@Html.ActionLink("Previous Games", "Index", "SavdGameStates")</h3>
            <h3>@Html.ActionLink("User Details", "Index", "Users")</h3>
        </nav>
    }else
    {
        <div style="padding-top:80px;padding-bottom:80px;"></div>
    }
</div>

