@{
    ViewBag.Title = "Home Page";
}

<div style="background-image:url(../Images/island_escape.png);background-repeat:no-repeat; background-position: center;">
    
   
    <h2 style="float:left">Link to SavedGameStateView</h2>
    <h2 style="float:right">Link to UserDetailsView</h2>
    <div style="padding-bottom:550px;"></div>
</div>

